# Start on startup after everything has been mounted
start on (local-filesystems and net-device-up IFACE!=lo)
stop on shutdown

setuid {{ service_user }}

# Automatically respawn
respawn
respawn limit {{ service_respawn_limit }}

# Ensure log directory exists
pre-start script
  mkdir -p `dirname {{ service_log_file }}`
end script

# Run the server
script
  chdir {{ service_chdir }}
  # Run compiler start and redirect output to log file
  exec {{ service_exec }} >> {{ service_log_file }} 2>&1
end script
